/* NAVIGATION */
nav{
    height: 100vh;
    width: 100%;
    background-color: #22333b;
    border-right: 6px solid #0a0908;
    top: 0;
    left: 0;
}

.nav-image {
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
}

.nav-image div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../images/ElTomyDev.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: -2px -2px 10px #000;
    border: 6px solid #0a0908;
    margin-left: auto;
    margin-right: auto;
}

.nav-list ul{
    list-style: none;
    font-size: 1.3em;
}

.nav-list ul li {
    text-decoration: none;
    margin-bottom: 8px;
}

.nav-list ul li a{
    text-decoration: none;
    color: #eae0d5;
}

.nav-list ul li a:hover{
    color: #000;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    nav{
        border-right: 0px solid #0a0908;
        border-bottom: 6px solid #0a0908;
    }
    
    .nav-image div {
        width: 100px; /* Reduce el tamaño del div con la imagen en pantallas más pequeñas */
        height: 100px; /* Reduce el tamaño del div con la imagen en pantallas más pequeñas */
    }

    .nav-list ul {
        font-size: 1em; /* Reduce el tamaño de la fuente de la lista en pantallas más pequeñas */
    }
    
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 769px) {

    nav {
        height: 100%; /* Asegura que el nav ocupe toda la altura disponible en pantallas medianas y grandes */
    }

    .nav-image div {
        width: 150px; /* Mantiene el tamaño del div con la imagen en pantallas medianas y grandes */
        height: 150px; /* Mantiene el tamaño del div con la imagen en pantallas medianas y grandes */
    }

    .nav-list ul {
        font-size: 1.3em; /* Mantiene el tamaño de la fuente de la lista en pantallas medianas y grandes */
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
    .nav-image div {
        width: 200px; /* Aumenta el tamaño del div con la imagen en pantallas muy grandes */
        height: 200px; /* Aumenta el tamaño del div con la imagen en pantallas muy grandes */
    }

    .nav-list ul {
        font-size: 1.5em; /* Aumenta el tamaño de la fuente de la lista en pantallas muy grandes */
    }
}

/* Estilos para pantallas muy grandes */
@media (min-width: 1600px) {
    .nav-image div {
        width: 220px; /* Aumenta el tamaño del div con la imagen */
        height: 220px; /* Aumenta el tamaño del div con la imagen */
    }

    .nav-list ul {
        font-size: 1.7em; /* Aumenta el tamaño de la fuente de la lista */
    }
}

/* Estilos para pantallas ultra grandes */
@media (min-width: 1980px) {
    nav{
        height: 100%;
    }

    .nav-image div {
        width: 250px; /* Aumenta el tamaño del div con la imagen */
        height: 250px; /* Aumenta el tamaño del div con la imagen */
    }

    .nav-list ul {
        font-size: 1.8em; /* Aumenta el tamaño de la fuente de la lista */
    }
}