<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Portafolio{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}">
</head>
<body>
    {% include 'portfolio/navigation.html' %}
    <main class="container">
        {% block home %}{% endblock %}
        {% block projects %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}
</body>
</html>