{% extends 'portfolio/base.html' %}

{% block projects %}
    <article class="content-projects">
        <h1>Proyectos</h1>
        <p>Aca esta un listado de los proyectos que tengo actualmente.</p>
        <section class="projects-grid">
            {% for project in projects %}
                <div class="project-card">
                    <a href="{{ project.link }}"></a>
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.description }}</p>
                </div>
            {% endfor %}
        </section>
    </article>
{% endblock %}